
/* 1. Ogólne */
/* ////////////////////////////////////////////// */
body{
	padding: 0;
	margin: 0;
	background-size: 100%;
	font-family: 'Lato', sans-serif;
	/* background-size: cover; */
	/* background: no-repeat 0 0 fixed; */
	background-color: black;
}

.white { background-color: #F4F4F4; }

.register {
	padding: 0;
	margin: 0;
	background: url('../img/cool-purple-bubbles.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: 'Lato', sans-serif;
	font-weight: 300;	
}

div.quotation {
	color: white;
	margin-top: 180px;
	font-weight: 200;
	font-size: 22px;
	line-height: 40px;
	text-align-last: center;
	display: flex;
	justify-content: center;
}

header {
	/* top, transparent red, faked with gradient */ 
	background: linear-gradient(rgba(78, 4, 55, 0.205), rgba(78, 4, 54, 0.205)),
	url('../img/purple-wallpapers_6.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	/* min-height: 100%; */
	/* min-width: 1024px; */
	width: 100%;
	height: auto;
}

span {
	font-weight: 400;
	
}


/* 2. Nawigacja */
/* ////////////////////////////////////////////// */

.logo {
	position: relative;
	border-radius: 10px;
	width: 80px;
	height: 80px;
	box-shadow: 3px 3px 10px black;
	margin: 20px 0 10px 145px;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0 100px 0 100px;
	overflow: hidden;
	background-color: rgb(20, 5, 24);
	/* background-color: rgb(30, 8, 36); */
	font-weight: 300;
	font-size: 15px;
	box-shadow: 0 6px 10px 6px black;
	text-transform: uppercase;
}
  
ul.topnav li { float: left; }

li:not(:last-child):after {
	content: "|";
	color: white;
}

ul.topnav li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 20px 45px;
	text-decoration: none;
}

ul.topnav li a:hover:not(.active) { color: rgb(212, 49, 150); }

ul.topnav li a.active {
	color: rgb(212, 49, 150);
	font-weight: 400;
}

ul.topnav li.right { float: right; }

/* ul.topnav li.active {
	color: rgb(212, 49, 150);
	font-weight: 400;
} */

.activeSecond {
	text-decoration: none;
	color: rgb(212, 49, 150);
  }
.activeSecond:hover { 
	color: rgb(212, 49, 150);
	text-decoration: underline; 
}
  
@media screen and (max-width: 600px) {
	ul.topnav li.right, 
	ul.topnav li {
		float: none;}
	ul.topnav li a {
		display: block;
	}
	li::after {
		display: none;	
	}
}


/* 3. Background */
/* ////////////////////////////////////////////// */

.background {
	width: 100%;
	height: auto;
	position: absolute;
  	left: 0px;
  	top: 170px;
  	z-index: -1;
}

div.infoFront {
	margin: 300px 0 0 145px;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-transform: uppercase;	
	font-size: 35px;
}

div.details span {
	font-weight: 300;
	text-transform: uppercase;	
	font-size: 15px;
	color: white;
	letter-spacing: 3px;	
}

div.details span:not(:last-of-type):after {
	content: "|";
	color: white;
}

span.title {
	margin-left: 20px;
}



/* 4. Sala kinowa */
/* ////////////////////////////////////////////// */

#div1 div span {
	font-size: 16px;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	margin: 4px;
	padding: 4px;
}

#div1 div,
.screen,
#cena {
	display: flex;
	justify-content: center;
	font-weight: 400;
}

.button {
	display: flex;
	justify-content: center;
}
#buyTickets {
	background-color: rgb(212, 49, 150);
	border: 1px solid rgb(51, 6, 51);
	border-radius: 4px;
	color: white;
	font-size: 15px;
	font-weight: 300;
	width: 80px;
	height: 40px;
	margin: 0 0 80px 0;
	padding: 5px 10px;
	}

.addedSpan {
	color: black;
}
.selectedSpan {
	color: rgb(212, 49, 150);
}



/* 5. Repertuar */
/* ////////////////////////////////////////////// */

div.mainHeadline h2 {
	background-color: rgb(202, 200, 200);
	color: black;
	font-weight: 300;
	font-size: 25px;
	margin: 0 0 50px 0;
	
	padding: 40px 0 20px 145px;
	text-transform: uppercase;
}

div.findCinema h4,
div#summary h4 {
	color: black;
	font-weight: 300;
	font-size: 20px;
	margin: 0;
	padding: 0 0 20px 145px;
	text-transform: uppercase;
	clear: both;
}

div.options {
	margin: 0;
	padding: 0 145px;
}

div.options select {
	color: rgb(109, 13, 109);
	background-color: white;
	width: 135px;
	height: 25px;
}

div.loginFirst input {
	width: 135px;
	height: 25px;
	border: 1px solid gray;
	border-radius: 5px;
}



/* 6. Top Panel Repertuar miasto */
/* ////////////////////////////////////////////// */

div.topPanel {
	background-color: rgb(202, 200, 200);
	width: 100%;
	height: auto;
	float: left;
	margin: 0 0 30px 0;
}

div.mainHeadlineMovies h2 {
	background-color: rgb(202, 200, 200);
	color: black;
	font-weight: 300;
	font-size: 25px;
	margin: 0;
	padding: 40px 0 20px 145px;
	text-transform: uppercase;
	float: left;
}

div.findCinemaSecond {
	background-color: rgb(202, 200, 200);
	float: right;
	margin: 0 140px;
}

div.findCinemaSecond h4 {
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
}

div.findCinemaSecond select {
	color: rgb(109, 13, 109);
	background-color: white;
	width: 100px;
	height: 25px;
}

div.movies h4 {
	color: black;
	font-weight: 300;
	font-size: 22px;
	margin: 10px 0 0 0;
	padding: 20px 0 20px 145px;
	text-transform: uppercase;
	clear: both;
}

div.firstMovie,
div.secondMovie {
	margin: 45px 0 0 0;
	padding: 0 145px;
	width: 100%;
	height: 200px;
}

div.thirdMovie {
	margin: 45px 0 50px 0;
	padding: 0 145px;
	width: 100%;
	height: 200px;
}

.moviePicture,
.movieInfo { float: left; }

.movieInfo { margin: -20px 0 0 30px; }

hr {
	width: 80%;
	margin: 0 145px;
}

/* 7. Twoje zamówienie */
/* /////////////////////////////////////////////// */
div.selectionInfo div {
	color: black;
	font-weight: 400;
	font-size: 17px;
	margin: 0 0 30px 0;
	padding: 0 0 0 145px;
	text-transform: uppercase;
	line-height: 3px;
}


/* 8. Buttons */
/* ////////////////////////////////////////////// */

.nonactiveButton{
	background-color: rgb(117, 117, 117);
	color: white;
	border: 1px solid rgb(51, 6, 51);
	border-radius: 4px;
	font-size: 13px;
	font-weight: 300;
	margin: 5px 15px 0 0;
	padding: 5px 10px;
}
.activeButton{
	background-color: rgb(212, 49, 150);
	border: 1px solid rgb(51, 6, 51);
	border-radius: 4px;
	color: white;
	font-size: 13px;
	font-weight: 300;
	margin: 5px 15px 0 0;
	padding: 5px 10px;
}


#imBuiyng {
	background-color: rgb(212, 49, 150);
	border: 1px solid rgb(51, 6, 51);
	border-radius: 4px;
	color: white;
	font-size: 15px;
	font-weight: 300;
	width: 80px;
	height: 40px;
	margin: 5px 15px 0 145px;
	padding: 5px 10px;
	}


.loginSecond input[type="button"] {
	background-color: rgb(212, 49, 150);
	border: 1px solid rgb(51, 6, 51);
	border-radius: 5px;
	color: white;
	font-size: 12px;
	font-weight: 300;
	width: 135px;
	height: 25px;
	margin: 0 0 0 145px;
	padding: 5px 10px;
	display: block;
}

div.confirmation p {
	color: black;
	font-weight: 300;
	font-size: 22px;
	line-height: 40px;
	text-align-last: justify;
	display: flex;
	justify-content: center;
}

img.popcorn {
	width: 90px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


	 
/* 9. Stopka */
/* ////////////////////////////////////////////// */

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* margin: 0;
	padding: 0; */
	background-color: rgb(20, 5, 24);
	color: white;
	text-align: center;
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 11px;
	text-transform: uppercase;
	/* box-shadow: 0 -10px 10px black; */
 }

 .firstPage { box-shadow: 0px 0px 10px 6px black; }


 /* 10. Logowanie */
 /* ///////////////////////////////////////////////// */

::placeholder {
	padding: 0 5px;
}

#register:hover { cursor: pointer; }

#login:hover { cursor: pointer; }


.remember,
.noaccount {
	margin: 0 0 10px 145px;	
}

div.loginFirst {
	color: black;
	font-weight: 300;
	font-size: 20px;
	margin: 0 0 0 145px;
	text-transform: uppercase;
	clear: both;
}






 /* !!! niepotrzebne !!! */
 /* ////////////////////////////////////////////// */

 /* button {
	outline: none;
  } */

/* div.dateWidget button:hover {
	cursor: pointer;
} */

/* div.dateWidget button:active {
	background-color: rgb(109, 13, 109);
	color: white;
} */

/* div.dateWidget button {
	font-size: 18px;
	font-weight: 300;
	margin: 15px 15px 0 0;
	padding: 5px 5px;
	border: none;
	background-color: #F4F4F4;
} */